@font-face {
    font-family: 'youngserif';
    src: url(./fontsdb/YoungSerif-Regular.ttf);

}
@font-face {
    font-family: 'eduN';
    src: url(./font/EduNSWACTCursive-VariableFont_wght.ttf);
}
*{
    font-family: youngserif;
}
.navbar{
    background-color: #801F4F !important;
    height: 80px;
    font-family: youngserif;
}

.navbar-brand{
   font-size: 40px;

}
.label1 {
   font-family: eduN;
    font-size: 20px;
    font-weight: 600;
    color: #801F4F;
}
.label2{
    font-family: eduN;
    font-size: 16px;
    font-weight: 600;
    color: #801F4F;
}
.btn-primary{
    background-color: #801F4F !important;
    border-color: #801F4F !important;
    border: 1px solid white !important;
}

.swal2-actions{
    width : 90%;
}
.swal2-confirm{
    width: 100%;
    background-color: #801F4F !important;
    border-color: #801F4F !important;
}
.card-header{
    background-color: #801F4F !important;
    color: white !important;
}
.blockquote-footer{
    color: black !important;
}
.images-list > img{
width: 40px;
height: 40px;
border-radius: 5px;
position: bo;

}
.images-list{
    justify-content: space-around;
}

.selected-img{
    border: 5px solid #801F4F;
    
}
.card-body{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
   
}
@media only screen and (max-width: 500px) {
    .main{
        padding: 10px 4px !important;
    }
    
}
.text-style-btn{
    background-color: transparent !important;
   border:1px solid  #801F4F !important;
    color: #801F4F !important;
    font-size: 16px;
    font-weight: 600;
    border-radius: 0 !important;
    padding: 5px !important;
    height:29px;
    width: 25px;
}
.btn1{
font-weight: 900!important;

}

.btn2{
    font-style: italic !important;
}
.text-area{
    border: 1px solid #801F4F !important;
    min-height: 150px;
    outline: none !important;
}

.text-area:empty::before{
    content: attr(data-placeholder);
    color: #801F4F;
    font-family: eduN;
    font-size: 16px;
    font-weight: 600;
}
#colorPicker{
    align-self: end;
}
#fontSize{
    align-self: end;
    padding: 4px;
    height: 33px;
    color: #801F4F !important;}
    